Repository CSIT314/Hotel-Booking-App, pull requests merged in 2021-05, with the labels that each got.

#6 Update README.md
  README.md
Labels: test

#7 date convertion test
  App/test/app/UtilTest.java
Labels: test

#10 Login Test Cases on Java Swing
  .github/workflows/maven.yml
  App/src/app/Login.java
  App/test/app/LoginTest.java
  App/test/app/TestUtils.java
Labels: test

#11 Fix Database
  Databases/booking_info.sql
  Databases/hotel_reviews.sql
Labels: bug

#13 Login Test Cases
  App/src/app/Login.java
  App/test/app/LoginTest.java
  Databases/hotel_reviews.sql
Labels: test

#14 Booking area
  App/src/app/BookingArea.java
  App/test/app/BookingAreaTest.java
Labels: test

#15 Util updates
  App/convertdates.txt
  App/test/app/UtilTest.java
Labels: test

#35 Updating Readme
  README.md
Labels: documentation, test
